fastapi
uvicorn
python-multipart
sqlalchemy
passlib[bcrypt]
bcrypt==3.2.0
python-jose[cryptography]
python-multipart
email-validator
celery
redis

git+https://github.com/eluhrs/subscript.git@v1.2

pdf2image
Pillow
PyYAML
